main {
    min-height: 100vh;
    background-color: black;

}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-left {
    text-align: left;
}


section {
    width: 80vw;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    div {
        width: 100%;
    }
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: whitesmoke;
}

h3 {
    margin-top: 10px;
    color: whitesmoke;
}

p {
    margin-bottom: 20px;
    color: whitesmoke;
}

pre {
        color: green;
}